%h1= t('.Listing_tasks')

%table
  %thead
    %tr
      %th= t('common.name')
      %th= t('common.description')
      %th= t('common.due_date')
      %th= t('common.category')
      %th
      %th
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.name
        %td= task.description
        %td= task.due_date
        %td= task.category
        %td= link_to t('common.show'), task
        %td= link_to t('common.edit'), edit_task_path(task)
        %td= link_to t('common.destroy'), task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to t('common.New_Task', new_task_path
